{
  "plugins": ["styled-jsx/babel", "babel-plugin-styled-components"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
  
}
